In [3]:
def add(): #def followed by the function name 
    print("Hello")

In [4]:
add() #fuction call

Hello

In [5]:
def add(x,y): #creating a fuction
    c = x+y
    print(c)

def sub(x,y):  #creating a function
    c = x - y
    print(c)

In [6]:
add(5,4)#fuction call

9

In [57]:
add(10,14)

24

In [58]:
sub(5,4)# function for subtraction

1

In [9]:
def add_var(x,y):
    c = x+y
    return c #return statement is used as function call

In [10]:
add_var(4,5) #like usual fuction call

9

In [11]:
add_var1 = add(5,4) #used print statement,creates a variable for fucion call

9

In [18]:
add_var1() #it won't pass value to the variable

TypeError: 'NoneType' object is not callable

In [19]:
add_var2 = add_var(5,4) #used return statement

In [25]:
def f(a,b):
    d=a+b
    print(d)
f(1,2)

3

In [20]:
add_var2

9

In [65]:
def add_sub(x,y):
    c = x+y
    d = x-y
    return c, d

In [66]:
add_sub(5,10)#return 2 statements at a same time

(15, -5)

In [67]:
result = add_sub(10,50)

In [68]:
result

(60, -40)

In [69]:
result = add_sub(a,b)

In [70]:
result

(10, 2)

In [29]:
def myname(name = "Name"):
    return("hello"+ name)

In [32]:
def r(w='war'):#creating a function ,assign a value
    print("this is "+ w)#print the value with some printing statement
r('dom')# function call,prints the statement,we can change the value which is defined first in the function within fuction call

this is dom

In [30]:
myname()

'helloName'

In [78]:
myname('Josh')

'helloJosh'

In [79]:
Student = myname('Danie')

In [80]:
Student

'helloDanie'

In [81]:
def myname(name = "Name"):
    print("hello"+ name)

In [82]:
Student = myname("Danie")

helloDanie

In [83]:
Student

In [33]:
def check_name(myname):
    if "hariharan" in myname:
        return True
    else:
        return False

In [38]:
check_name('hariharan')#check the statement

True

In [35]:
def check_name(myname):
    return 'hari' in myname

In [36]:
check_name('h')

False

In [37]:
check_name('hari')

True

In [100]:
def student(*name): # * multiple values prints using a function
    print("Student name:", name)

In [101]:
student('Josh', 'Danie', 'Akash', "Dhoni")

Student name: ('Josh', 'Danie', 'Akash', 'Dhoni')

In [102]:
def student(*name): # * multiple values,using index
    print("Student name:", name[2])

In [103]:
student('Josh', 'Danie', 'Akash', "Dhoni")

Student name: Akash

In [39]:
def check_name(myname):
    name = myname[0]
    if name in "hariharan":
        return True
    else:
        return False

In [106]:
myname('h')

helloh

In [113]:
def check_name(college):
    
    if college in 'sret':
        return True
    else:
        return False

In [116]:
check_name('h')

False